<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <ul>
      {{#each projectList}}
        <li>The {{projectName}} created on {{date}} can be found at {{location}}</li>
      {{/each}}
    </ul>
    <p>{{port}}</p>
    {{> footer}}
  </body>
</html>
